* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
form {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 520px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  border: solid 1px #e7e6e6;
  border-radius: 12px;
  padding: 18px;
}
form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form label {
  font-weight: bold;
  cursor: pointer;
}
form input,
form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  font-family: inherit;
  line-height: 1.5;
  outline: none;
}
.generos {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px transparent;
}
.generos div {
  display: flex;
  flex-direction: row;
}
.checkbox-line {
  display: flex;
  flex-direction: row;
}
.btn {
  background: #444444;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition:
    background 0.2s,
    color 0.2s;
  font-family: inherit;
  display: inline-block;
}
.error {
  border: solid 1px red;
}
#usuarios{
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 520px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  border: solid 1px #e7e6e6;
  border-radius: 12px;
  padding: 18px;
}
.card{
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
}
.card p {
  text-align: center;
}
.card button{
  align-items: left;
}
.btnEliminar{
  color: red;
  font-size: 30px;
  padding: 5px;
  border: none;
  margin-left: auto;
  cursor: pointer;
}
.btnEditar{
  border: none;
  background-color: rgb(4, 4, 187);
  color: white;
  padding: 5px;
  margin: 5px;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
}
.id{
  display: none;
}